.container3 {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.card {
  width: 500px; /* Updated width */
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.content {
  padding: 20px;
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.content h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #333333;
}

.content p {
  font-size: 1rem;
  color: #666666;
  margin-bottom: 15px;
}

button {
  padding: 10px 20px;
  background-color: #ed1c24;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #c11b21;
}
/* 
grid
ps
pois
media
anima */
